In [1]:
from io import StringIO
import pandas as pd
import os
import sqlalchemy as db
from sqlalchemy import text
import pandas as pd

In [2]:
engine = db.create_engine("mysql://root:root@192.168.1.12:3310/retail_db")
conn = engine.connect()

In [3]:
customers_df = pd.read_sql_query(text('SELECT * FROM customers'), con=conn)
customers_df.head()

,customer_id,customer_fname,customer_lname,customer_email,customer_password,customer_street,customer_city,customer_state,customer_zipcode
0,1,Richard,Hernandez,XXXXXXXXX,XXXXXXXXX,6303 Heather Plaza,Brownsville,TX,78521
1,2,Mary,Barrett,XXXXXXXXX,XXXXXXXXX,9526 Noble Embers Ridge,Littleton,CO,80126
2,3,Ann,Smith,XXXXXXXXX,XXXXXXXXX,3422 Blue Pioneer Bend,Caguas,PR,00725
3,4,Mary,Jones,XXXXXXXXX,XXXXXXXXX,8324 Little Common,San Marcos,CA,92069
4,5,Robert,Hudson,XXXXXXXXX,XXXXXXXXX,10 Crystal River Mall,Caguas,PR,00725

#### Cloud Storage

In [4]:
from google.cloud.storage import Client

os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/user/app/ProyectoEndToEndPython/Clases/1.Data Ingest/dep12-386900-aa972d12d985.json"

In [7]:
client = Client()

bucket = client.get_bucket('karladep12')
blob_departments = bucket.get_blob('retail/departments')
downloaded_departments = blob_departments.download_as_text(encoding="utf-8")
departments_df = pd.read_csv(StringIO(downloaded_departments))

In [9]:
departments_df

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors
5              7        Fan Shop

In [11]:
blob_categories = bucket.get_blob('retail/categories')
downloaded_categories = blob_categories.download_as_text(encoding="utf-8")
categories_df = pd.read_csv(StringIO(downloaded_categories))

In [12]:
categories_df

    category_id  category_department_id         category_name
0             1                       2              Football
1             2                       2                Soccer
2             3                       2   Baseball & Softball
3             4                       2            Basketball
4             5                       2              Lacrosse
5             6                       2      Tennis & Racquet
6             7                       2                Hockey
7             8                       2           More Sports
8             9                       3      Cardio Equipment
9            10                       3     Strength Training
10           11                       3   Fitness Accessories
11           12                       3          Boxing & MMA
12           13                       3           Electronics
13           14                       3        Yoga & Pilates
14           15                       3     Training by Sport
15           16                       3       As Seen on  TV!
16           17                       4                Cleats
17           18                       4        Men's Footwear
18           19                       4      Women's Footwear
19           20                       4        Kids' Footwear
20           21                       4        Featured Shops
21           22                       4           Accessories
22           23                       5         Men's Apparel
23           24                       5       Women's Apparel
24           25                       5         Boys' Apparel
25           26                       5        Girls' Apparel
26           27                       5           Accessories
27           28                       5            Top Brands
28           29                       5         Shop By Sport
29           30                       6      Men's Golf Clubs
30           31                       6    Women's Golf Clubs
31           32                       6          Golf Apparel
32           33                       6            Golf Shoes
33           34                       6     Golf Bags & Carts
34           35                       6           Golf Gloves
35           36                       6            Golf Balls
36           37                       6           Electronics
37           38                       6      Kids' Golf Clubs
38           39                       6             Team Shop
39           40                       6           Accessories
40           41                       6              Trade-In
41           42                       7     Bike & Skate Shop
42           43                       7      Camping & Hiking
43           44                       7    Hunting & Shooting
44           45                       7               Fishing
45           46                       7  Indoor/Outdoor Games
46           47                       7               Boating
47           48                       7          Water Sports
48           49                       8                   MLB
49           50                       8                   NFL
50           51                       8                   NHL
51           52                       8                   NBA
52           53                       8                  NCAA
53           54                       8                   MLS
54           55                       8  International Soccer
55           56                       8        World Cup Shop
56           57                       8           MLB Players
57           58                       8           NFL Players

#### Azure Datalake

In [17]:
from azure.storage.blob import ContainerClient

In [18]:
conn_str = "BlobEndpoint=https://adlsdatapath.blob.core.windows.net/;QueueEndpoint=https://adlsdatapath.queue.core.windows.net/;FileEndpoint=https://adlsdatapath.file.core.windows.net/;TableEndpoint=https://adlsdatapath.table.core.windows.net/;SharedAccessSignature=sv=2022-11-02&ss=bfqt&srt=co&sp=rwdlacupyx&se=2023-06-07T09:05:36Z&st=2023-06-07T01:05:36Z&spr=https,http&sig=RjAPfpvS6QLpsp5gGKqFyGqi4hW7BJ5C5rPC1n7RwVE%3D"
container = "source"

container_client = ContainerClient.from_connection_string(
    conn_str=conn_str, 
    container_name=container
)

In [19]:
downloaded_blob = container_client.download_blob('retail/karla/departments')
departments_df = pd.read_csv(StringIO(downloaded_blob.content_as_text()))
departments_df.head()

   department_id department_name
0              2         Fitness
1              3        Footwear
2              4         Apparel
3              5            Golf
4              6        Outdoors

In [20]:
downloaded_blob = container_client.download_blob('retail/karla/categories')
categories_df = pd.read_csv(StringIO(downloaded_blob.content_as_text()))
categories_df.head()

   category_id  category_department_id        category_name
0            1                       2             Football
1            2                       2               Soccer
2            3                       2  Baseball & Softball
3            4                       2           Basketball
4            5                       2             Lacrosse

#### MongoDB

In [21]:
from pymongo import MongoClient
from pandas import DataFrame

def get_database():

    CONNECTION_STRING = "mongodb+srv://dep12karla:987654321@clusterbase.pnm8idk.mongodb.net/?retryWrites=true&w=majority"
    client = MongoClient(CONNECTION_STRING)

    return client['retail_db']

In [22]:
dbname = get_database()
 
# Create a new collection
collection_name = dbname["departments"]
 
departments = collection_name.find({})

departments_df = DataFrame(departments)

departments_df.head()

                        _id  department_id department_name
0  647fe270fb05c888cd57525a              2         Fitness
1  647fe270fb05c888cd57525b              3        Footwear
2  647fe270fb05c888cd57525c              4         Apparel
3  647fe270fb05c888cd57525d              5            Golf
4  647fe270fb05c888cd57525e              6        Outdoors

In [23]:
dbname = get_database()
 
# Create a new collection
collection_name = dbname["categories"]
 
categories = collection_name.find({})

categories_df = DataFrame(categories)

categories_df.head()

,_id,category_id,category_department_id,category_name
0,647fe26efb05c888cd57521f,1,2,Football
1,647fe26efb05c888cd575220,2,2,Soccer
2,647fe26efb05c888cd575221,3,2,Baseball & Softball
3,647fe26efb05c888cd575222,4,2,Basketball
4,647fe26efb05c888cd575223,5,2,Lacrosse